﻿@inherits LayoutComponentBase

<PageTitle>WarOfTheWordle</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class ="row">
        <div class="col-1"></div>
        <div class="col-11">let the battle begin! Something something forever in your favour</div>
    </div>
    <main>
      <article class="content px-4">
            @Body
        </article>
    </main>
</div>
