﻿ <!--handle for this page-->
@page "/counter"
<!--handle for this page as well-->
@page "/counterthesecond" 

@*@using BlazorApp.Data <!--import-->*@

@*@inject ICounterService _counterService;*@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@*<p role="status">Current count: @currentCount</p>*@

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {
    private int currentCount = 0;

    //private async Task IncrementCount() => currentCount = await _counterService.GetNextAsync();

    protected override async Task OnInitializedAsync()
    {
        //currentCount = await _counterService.GetCountAsync();
        await base.OnInitializedAsync();
    }
}
