﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@*@using BlazorApp.Data
@inject WeatherForecastService ForecastService*@

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

 <p><em>Loading...</em></p>


@code {
    //private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
