﻿@page "/game"

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.SignalR.Client
@using WarOfTheWordle.Constants
@using WarOfTheWordle.Services
@using WarOfTheWordle.Services.Game
@using WarOfTheWordle.Web

@implements IAsyncDisposable

@inject NavigationManager NavigationManager

@code{
    private HubConnection? hubConnection;

    private Player _currentPlayer;
    private ServerSideOpponentPlayerState _otherPlayerState;
    private string _preConnectedPlayerName = string.Empty;
    private string _lastStatusMessage = string.Empty;
    private string _playerGuess = string.Empty;
    private string _winningWord = string.Empty;
    private string _winningPlayer = string.Empty;
    private bool _canStartNewRound = false;

    private void SetupNewGame(Player newPlayerState)
    {
        _lastStatusMessage = string.Empty;
        _playerGuess = string.Empty;
        _winningWord = string.Empty;
        _winningPlayer = string.Empty;
        _currentPlayer = newPlayerState;
        _canStartNewRound = false;
    }

    private T FromSignlar<T>(object obj) where T : class
    {
        string jsonPayload = obj.ToString();
        var data = Newtonsoft.Json.JsonConvert.DeserializeObject<T>(jsonPayload);
        return data;
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(SignalRConstants.HubAddress))
            .Build();

        hubConnection.On<string>("ReceiveMessage", (user) =>
        {
            StateHasChanged();
        });

        hubConnection.On<object>(SignalRConstants.AddedPlayerMessage, (playerAddedJson) =>
      {
          PlayerAddResult playerAdded = FromSignlar<PlayerAddResult>(playerAddedJson);
          _currentPlayer = playerAdded.Player;
          _otherPlayerState = playerAdded.State;
          _lastStatusMessage = string.Empty;
          StateHasChanged();
      });

        hubConnection.On<PlayerAddResult>(SignalRConstants.FailedToAddPlayerMessage, (playerNotAdded) =>
        {
            _preConnectedPlayerName = string.Empty;
            _currentPlayer = null;
            _lastStatusMessage = playerNotAdded.ErrorMessage;
            StateHasChanged();
        });

        hubConnection.On<string>(SignalRConstants.NewOppoentMessage, (newPlayerName) =>
        {
            Console.WriteLine(newPlayerName);
            _canStartNewRound = false;
            StateHasChanged();
        });

        hubConnection.On<ServerSidePlayerResonseState>(SignalRConstants.PlayerTookTurnMessage, (payload) =>
       {
           var player = payload.Player;
           var playerTurnResult = payload.TurnResult;

           if (playerTurnResult.GuessAttemptResult == GuessAttemptResult.ValidGuess)
           {
               //_currentPlayer.AddTurn(playerTurnResult.GuessResult);
               _currentPlayer = player;
               _playerGuess = string.Empty;
           }
           else
           {
               switch (playerTurnResult.GuessAttemptResult)
               {
                   case GuessAttemptResult.AlreadyLost: break;
                       _lastStatusMessage = "You lost already";
                       break;
                   case GuessAttemptResult.BadWord: 
                       _lastStatusMessage = "Let's try real words shall we?";
                       break;
                   case GuessAttemptResult.GameIsOver: 
                       _lastStatusMessage = "Game is over";                   
                       break;

                   case GuessAttemptResult.RepeateWord: 
                       _lastStatusMessage = "You have used that word before";
                       break;

                   case GuessAttemptResult.Other: break;
                   case GuessAttemptResult.BadData:
                   default:
                       _lastStatusMessage = "Something went wrong";
                       break;
               }
           }

           StateHasChanged();
       });

        hubConnection.On<object>(SignalRConstants.OtherPlayerTookTurnMessage, (newOpponentStateJson) =>
        {
            ServerSideOpponentPlayerState newOpponentState = FromSignlar<ServerSideOpponentPlayerState>(newOpponentStateJson);
            _otherPlayerState = newOpponentState;
            _canStartNewRound = false;
            StateHasChanged();
        });

        hubConnection.On<object>(SignalRConstants.CurentPlayerLostMessage, (_) =>
        {
            _currentPlayer.SetToLost();
            StateHasChanged();
        });

        hubConnection.On<Player>(SignalRConstants.OtherPlayerWonTurnMessage, (otherPlayerWon) =>
        {
            _currentPlayer?.SetToLost();
            _winningWord = otherPlayerWon.MostRecentGuess.Guess;
            _winningPlayer = otherPlayerWon.Name;
            _canStartNewRound = false;
            StateHasChanged();
        });

         hubConnection.On<Player>(SignalRConstants.CurrentPlayerWonTurnMessage, (_) =>
        {
            _currentPlayer.SetToWon();
            _canStartNewRound = true;
            StateHasChanged();
        }); 

        hubConnection.On<Player>(SignalRConstants.StartNewRoundMessage, (newPlayerState) =>
        {
            SetupNewGame(newPlayerState);
            StateHasChanged();
        });

        hubConnection.On<Player>(SignalRConstants.AllPlayersLostMessage, (newPlayerState) =>
        {
            _canStartNewRound = true;
            StateHasChanged();
        });

        hubConnection.On<object>(SignalRConstants.GameOverMessage, (_) =>
        {
            // Should probably do something with this later
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task StartNewGame() => await hubConnection.InvokeAsync(SignalRConstants.AttemptToRegisterPlayerMessage, Guid.NewGuid(), _preConnectedPlayerName);

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    private async Task SubmitTurn() => await hubConnection.InvokeAsync(SignalRConstants.TakePlayerTurnMessage, Guid.NewGuid(), _playerGuess);
    
    private async Task AttemptNewRound() => await hubConnection.InvokeAsync(SignalRConstants.AttempNewRoundMessage, Guid.NewGuid());

     public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async Task HandleKeyboardEvent(KeyPress key)
    {
        if (KeyPressExtension.IsEventKey(key))
        {
            switch (key)
            {
                case KeyPress.Enter:
                    await SubmitTurn();
                    break;
                
                case KeyPress.Backspace:
                    if (_playerGuess.Any())
                    {
                        _playerGuess = _playerGuess.Substring(0, _playerGuess.Length - 1);
                        UpdateLocalPlayerGridState();
                    }
                    break;
            }
        }
        else if (_playerGuess.Length < 5)
        {
            _playerGuess += key.ToString();
            UpdateLocalPlayerGridState();
        }
        StateHasChanged();
    }

    private void UpdateLocalPlayerGridState()
    {
        if (!_currentPlayer.PlayerGuesses.Any())
        {
            _currentPlayer.PlayerGuesses = new List<CurrentPlayerGuess>{};
        }

        CurrentPlayerGuess clientSideGuess = _currentPlayer.PlayerGuesses.LastOrDefault(x => x.Turn == 0);

        if (clientSideGuess is null)
        {
            clientSideGuess = new CurrentPlayerGuess()
            {
                Guess = _playerGuess,
                Guesses = new[] {GuessResult.Miss, GuessResult.Miss, GuessResult.Miss, GuessResult.Miss, GuessResult.Miss},
                Turn = 0
            };
            _currentPlayer.PlayerGuesses.Add(clientSideGuess);
        }
        clientSideGuess.Guess = _playerGuess;
        
        StateHasChanged();
    }

}
<style>

    .full-height{
        min-height: 570px;
    }

    .other-player-sidebar{
        background-color: lightblue;
        
    }

    .main-game{
        background-color: lightgray;
    }

    .del {
        width: auto;
    }
    

</style>

 <div class="row full-height">

     <div class="col-3 other-player-sidebar">
         <div class="row"><h2>Other Players</h2></div>
         @if (_otherPlayerState?.Opponents is { })
        {
            foreach(var opponent in _otherPlayerState.Opponents)
            {
                <Grid PlayerGuesses=opponent.PlayerGuesses IsCurrentPlayer=false></Grid>
            }
        }
        else
        {
            <div class="row"><label>Stop playing with yourself, it's more fun with others!</label></div>            
        }
    </div>
     <div class="col-6 main-game"> 
         <div class="row"><h2>@(_currentPlayer?.Name is {} ? $"Let's go {_currentPlayer.Name}" : "You aren't playing yet!")</h2></div>

        @if (_currentPlayer is { })
        {
            @switch (_currentPlayer.PlayerState)
            {
                case PlayerState.Watching:
                case PlayerState.Playing:
                    @if (!string.IsNullOrWhiteSpace(_lastStatusMessage))
                    {
                        <label id="status-label">@_lastStatusMessage</label>    
                    }
            
                    <Grid PlayerGuesses=_currentPlayer.PlayerGuesses  IsCurrentPlayer=true></Grid>
                    <Keyboard OnKeyEvent="HandleKeyboardEvent" KnownBadKeys="_currentPlayer.KnownBadKeys"></Keyboard>
                    
                    break;

                case PlayerState.Lost:
                        <label>You lost!</label>
                        if (!string.IsNullOrWhiteSpace(_winningWord))
                        {
                            string winningMessage = $"The winning word was {_winningWord} guessed by {_winningPlayer}";
                            <br/>
                            <label>@winningMessage</label>
                        }

                        <Grid PlayerGuesses=_currentPlayer.PlayerGuesses  IsCurrentPlayer=true></Grid>
                    break;

                    case PlayerState.Won:
                        <label>You won!</label>

                        <Grid PlayerGuesses=_currentPlayer.PlayerGuesses  IsCurrentPlayer=true></Grid>
                    break;

                default:
                    <label>You ???? Wait WHAT? (@_currentPlayer.PlayerState)</label>

                    <Grid PlayerGuesses=_currentPlayer.PlayerGuesses  IsCurrentPlayer=true></Grid>
                    break;
            }

            if (_canStartNewRound)
            {
                <button @onclick="AttemptNewRound">Start a new game?</button>
            }
        }
        else
        {
            <div class="row">
            <div class="col-3">
                <label>Start playing (with yourself)</label>
                
                @if (!string.IsNullOrWhiteSpace(_lastStatusMessage))
                {
                <label id="status-label">@_lastStatusMessage</label>    
                }
                
                <input type="text" @bind-value="_preConnectedPlayerName"/>
                <button class="btn btn-primary" @onclick="StartNewGame">Start</button>
                
            </div>

            
            </div>
        }
    </div>
    <div class="col-3"> <Score></Score> </div>
    </div>