﻿@page "/grid"
@using WarOfTheWordle.Services.Game


@code{

    [Parameter]
    public IEnumerable<PlayerGuess> PlayerGuesses { get; set; }

    [Parameter]
    public bool IsCurrentPlayer { get; set; } = false;

    private string GetLetterColour(WarOfTheWordle.Services.Game.GuessResult guessResult)
    {
        switch (guessResult)
        {
            case Services.Game.GuessResult.CorrectPossition: return "corret-possition";
            case Services.Game.GuessResult.WrongPossition: return "wrong-possition";
            default: return "miss";
        }
    }

}

<style>
 

 .game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 350px; 
  max-height: 420px;
  background-color: black;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

.miss{
    background-color:white;
}

.corret-possition{
    background-color:#538d4e;
}

.wrong-possition{
    background-color:#b59f3b;
}

  </style>

  <div id="player-game" class="row">

       @if (!IsCurrentPlayer && (PlayerGuesses?.Any() ?? false))
        {
            <label>@PlayerGuesses.ElementAt(0).PlayerName</label>
        }

    <div id="board" class="game-board">
             

        @for(int playerRow = 0; playerRow < 6; playerRow++)
        {
            PlayerGuess thisTurn = this.PlayerGuesses?.ElementAtOrDefault(playerRow);
            <div class="letter-row">
            @for(int letterPossiotion = 0; letterPossiotion < 5; letterPossiotion++)
                {
                    string letterColour = GetLetterColour(GuessResult.Miss);
                    char letter = IsCurrentPlayer ? ' ' : '?';

                    if (thisTurn is { })
                    {
                        letterColour = GetLetterColour(thisTurn.Guesses.ElementAt(letterPossiotion));
                        letter = thisTurn.Guess.ElementAtOrDefault(letterPossiotion);
                    }

                    <div class="letter-box @letterColour">@letter</div>
            }
            </div>
        }
    </div>


</div>
