﻿@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<NavLink class="nav-link" href="game">
    <span class="oi oi-plus" aria-hidden="true"></span> Wordle
</NavLink>