﻿@using WarOfTheWordle.Services.Game
@using WarOfTheWordle.Web


@code{

    [Parameter]
    public Func<KeyPress, Task> OnKeyEvent { get; set; } = null;

    [Parameter]
    public IReadOnlyCollection<KeyPress> KnownBadKeys { get; set; } = null;

    private Task ButtonClickEvent(KeyPress keyPress, MouseEventArgs mouseEventArgs)
    {
        OnKeyEvent?.Invoke(keyPress);
        return Task.CompletedTask;
    }
    
    private List<List<KeyPress>> Keys = KeyPressExtension.DefaultSetup;
}

<style>
 
 .btn-key{
 min-width: 50px;
 height: 50px;
 }
 
.keyboard{
    max-width: 550px;
}

.bad-key
{
    text-emphasis-color: white;
    background-color:lightcoral;
}

  </style>

  <div id="keyboard" class="row keyboard">

      @foreach (var keyList in Keys)
      {
          <div class="row">
          @foreach (var key in keyList)
          {
              string buttonClass = "btn-light";
              if (KnownBadKeys?.Contains(key) ?? false)
              {
                  buttonClass = "bad-key";
              }
              
              <div class="col-1">
                  <button class="@buttonClass btn-key" @onclick="@(e => ButtonClickEvent(key, e))">@key.ToString()</button>
              </div>
          }
          </div>
      }
      
  </div>

