﻿@using WarOfTheWordle.Services.Game
@using WarOfTheWordle.Web

<style>
 
.score{
    background-color: lightcoral;
}

  </style>

<div id="score" class="row score">

      <h2>Score</h2>
      
      <p>Work in progress</p>
      <p>Cristina is probably winning 🤷‍♂️</p>
      
      <table>
          <thead>
          <tr>
              
          </tr>
          </thead>
          <tbody>
          
          <tr>

          </tr>
          </tbody>
      </table>
  </div>

